root {
    font-family: "Cantarell";
    font-size: 11;
    color: rgba(1, 1, 1, 1);
}

button {
    text-align: center;
    vertical-align: middle;
}

edit {
    padding: 1;
    background: rgba(0, 0, 0, 1);
    margin: 1;
}

menuseparator {
    height: 1;
    border-top: 1 solid rgba(0, 0.5, 0.8, 0.8);
    margin-top: 4;
    margin-bottom: 2;
    margin-left: 5;
    margin-right: 5;
}

menubutton {
    width: auto;
    vertical-align: middle;
    padding-left: 5;
    padding-right: 5;
    box-spacing-x: 16;
}

menu {
    margin: -1;
    border: 1 solid rgba(0.0, 0.5, 0.8, 0.8);
    padding: 1;
    background: rgba(0.0, 0.15, 0.24, 0.7);
}

menu > menubutton {
    margin-top: 2;
    margin-bottom: 2;
}

menubutton:disabled {
    color: rgba(0.6, 0.6, 0.6, 1.0);
}

menubutton:hover {
    background: rgba(0.0, 0.5, 0.8, 0.3);
}

menubutton:disabled:hover {
    background: transparent;
}

scrollbar.horizontal {
    height: 14;
}

scrollbar.vertical {
    width: 14;
}

scrollbar {
    background-color: rgba(0, 0.5, 0.8, 0.2);
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

scrollbutton {
    font-size: 8;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0.5, 0.8, 0.4);
}

scrollbutton:hover {
    background-color: rgba(0, 0.5, 0.8, 0.5);
}

scrollbar.horizontal scrollbutton.up {
    border-left: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

scrollbar.horizontal scrollbutton.down {
    border-right: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

scrollbar.vertical scrollbutton.up {
    border-top: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

scrollbar.vertical scrollbutton.down {
    border-bottom: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

scrollthumb {
    background-color: rgba(0, 0.5, 0.8, 0.4);
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
    border-radius: 2;
    margin: 1;
}

scrollthumb:hover {
    background-color: rgba(0, 0.5, 0.8, 0.5);
}

window {
    border: 1 solid rgba(0, 0.5, 0.8, 0.9);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2;
    padding: 2;
}

window > titlebar {
    background-color: rgba(0, 0.5, 0.8, 0.2);
    border-bottom: 1 solid rgba(0, 0.5, 0.8, 0.75);
    height: 20;
    font-weight: bold;
    padding-left: 2;
    border-top-left-radius: 2;
    border-top-right-radius: 2;
    margin-left: -2;
    margin-right: -2;
    margin-top: -2;
    margin-bottom: 2;
}

window:focused > titlebar, window:active > titlebar {
    background-color: rgba(0, 0.5, 0.8, 0.4);
}

window > titlebar label {
    flex: 1;
}

modallayer {
    background-color: rgba(0, 0, 0, 0.2);
}

list {
    background-color: rgba(0, 0, 0, 1);
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
    margin: 1;
    padding: 2;
}

list > scrollbar.horizontal {
    border-bottom: none;
}

list > scrollbar.vertical {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

list listitem {
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
    padding: 1;
    margin: 1;
    width: auto;
    height: auto;
}

list:focused {
    border: 1 solid rgba(0, 0.5, 0.8, 1.0);
}

list listitem:hover {
    background-color: rgba(0, 0.5, 0.8, 0.3);
}

list listitem:active {
    background-color: rgba(0, 0.5, 0.8, 0.4);
    border: 1 solid rgba(0, 0.5, 0.8, 1.0);
}

list listitem:active:hover {
    background-color: rgba(0, 0.5, 0.8, 0.5);
}

window hbox.buttons {
    height: 30;
    box-spacing-x: 8;
}

window hbox.buttons button {
    width: 75;
    height: 25;
}

button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
    padding: 1;
    margin: 1;
}

button:hover {
    background-color: rgba(0, 0.5, 0.8, 0.3);
}

button:active {
    background-color: rgba(0, 0.5, 0.8, 0.4);
    border: 1 solid rgba(0, 0.5, 0.8, 1.0);
}

button:active:hover {
    background-color: rgba(0, 0.5, 0.8, 0.5);
}

list, edit {
    border: 1 solid rgba(0, 0.5, 0.8, 0.8);
}

list:focused, edit:focused {
    border: 1 solid rgba(0, 0.5, 0.8, 1.0);
    background: rgba(0.05, 0.05, 0.05, 1);
}
/* Loading screen */

Loading {
    margin: auto;
    width: 400;
    height: 200;
    font-weight: bold;
    text-align: center;

    border-left: 3 solid rgba(0.5, 0.5, 0.5, 1.0);
    border-right: 3 solid rgba(0.5, 0.5, 0.5, 1.0);
    padding-left: 32;
    padding-right: 32;
    padding-bottom: 16;

    background: rgba(0, 0, 0, 0.7);
}

Loading label {
    height: 20;
}

Loading label.title {
    font-size: 36;
    height: 48;
}

Loading space.small {
    height: 5;
}

Loading space.large {
    flex: 3;
}

/* Main menu */

MainMenu {
    margin: auto;
    width: 400;
    height: 600;
    font-weight: bold;
    text-align: center;

    border-left: 3 solid rgba(0.5, 0.5, 0.5, 1.0);
    border-right: 3 solid rgba(0.5, 0.5, 0.5, 1.0);
    padding-left: 32;
    padding-right: 32;
    padding-bottom: 16;

    background: rgba(0, 0, 0, 0.7);
}

MainMenu label.title {
    font-size: 36;
    height: 48;
}

MainMenu label.subtitle {
    font-size: 16;
    height: 20;
}

MainMenu button {
    margin-left: 16;
    margin-right: 16;
    border: 1 solid rgba(0.0, 0.5, 0.7, 1.0);
    padding: 10;
    border-radius: 4;
    font-size: 20;
    color: rgba(1.0, 1.0, 1.0, 0.8);
    flex: 2;
}

MainMenu hbox {
    margin-left: 16;
    margin-right: 16;
    flex: 2;
    padding: 0;
}

MainMenu hbox button {
    margin: 0;
    flex: 4;
}

MainMenu button:focused {
    background: rgba(0.0, 0.5, 0.8, 0.2);
}

MainMenu button:hover {
    background: rgba(0.0, 0.5, 0.8, 0.3);
    color: inherit;
}

MainMenu space {
    flex: 1;
}

/* Map editor */

MapEditor {
}

MapEditor hbox.title {
    height: 25;
    background: rgba(0, 0.5, 0.8, 0.3);
    border-bottom: 1 solid rgba(1, 1, 1, 1);
}

MapEditor hbox.title button {
    width: 100;
}

MapEditor hbox.title button:hover {
    background: rgba(0.0, 0.5, 0.8, 0.3);
    color: inherit;
}

MapEditor menubar {
    flex: 1;
    padding-left: 2;
}

MapEditor hbox.title edit {
    width: 250;
}

MapEditor hbox.scroll.horiz {
    flex: 4;
    width: 16;
}

MapEditor vbox.scroll {
    height: 16;
    margin-right: 16;
}

MapEditor scrollbar {
    flex: 4;
}

MapEditor scrollbar.horizontal {
}

MapEditor hbox.edit {
    height: 30;
}

/* Tileset editor */

TilesetEditor {
    background: rgba(0, 0, 0, 1);
}

TilesetEditor hbox.top {
    height: 25;
    background: rgba(0, 0.5, 0.8, 0.3);
    border-bottom: 1 solid rgba(1, 1, 1, 1);
}

TilesetEditor label {
    height: 21;
}

TilesetEditor label.title {
    font-size: 12;
    font-weight: bold;
    height: 25;
}

TilesetEditor edit {
    height: 25;
}

TilesetEditor hbox.top menubar {
    flex: 1;
    padding-left: 2;
}

TilesetEditor vbox.right {
    width: 280;
    background: rgba(0, 0.5, 0.8, 0.3);
    border-left: 1 solid rgba(1, 1, 1, 1);
}

TilesetEditor vbox.right list {
}

TilesetEditor .editor {

}

TileEditor {
    margin: auto;
    width: 304;
    height: 304;
    background: rgba(1, 1, 1, 1);
    box-spacing-x: 1;
    box-spacing-y: 1;
    padding: 4;
}

BoolStamp {
    background: rgba(0, 0, 0, 1);
}

BoolStamp:active {
    background: rgba(1, 0, 0, 1);
}